<h1>Add a New Zoo by filling out the fields below:</h1>

<%= form_for @zoo do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.fields_for :location do |location| %> 
        <%= location.label :name %> 
        <%= location.collection_select(:location_id, Location.all, :id, :location, { :prompt => "Select State" }) %>
    <% end %> 

    <%= f.submit %>
<% end %>