<%= render partial: "layouts/error", locals: { object: @zoo } %>


<h1>Add a New Zoo by filling out the fields below:</h1>

<%= form_for @zoo do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.collection_select(:location_id, Location.all, :id, :name, { :prompt => "Select State" }) %><br>

    <p>Add a Review:</p>
     <%= f.fields_for :reviews do |r| %>
        <%= r.label :title %>
        <%= r.text_field :title %>
        <%= r.label :content %>
        <%= r.text_area :content %>
     <% end %>

    <%= f.submit %>
<% end %>

